body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lora', serif;
}
.container {
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
}
.logo-link {
    margin-left: 4%;
    color: black;
    height: fit-content;
}
.logo {
    font-family:'Lobster Two', serif;
    margin-top: 15px;
    margin-right: auto;
    font-size: 35px;
    margin-bottom: 0;
}

.shipping-free {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: auto;
    font-size: 14px;
    color: #444444;
}
.number {
    height: fit-content;
    background-color: #5D6D7E;
    padding: 0px 4px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 63%;
    left: 3%;
    font-size: 13px;
}
header {
    display: flex;
    justify-content: space-between;
}
.panier {
    margin-right: 5%;
    position: relative;
}
.fa-shopping-cart {
    margin-top: 31px;
    font-size: 30px;
    background: linear-gradient(#3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* titre */
.page-title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Lora', serif;
    color: #444444;
}
.teddy-name {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #444444;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 0;
}
/* Articles */
.teddy-pic {
    width: 30%;
    height: auto;
    border-radius: 25px;
}
.articles-container {
    display: flex;
    flex-wrap: wrap; 
}
.teddy-container {
    display: inline-grid;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    background-color: #F2EAEA;
    border-radius: 25px;
}
.teddy-info {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.btnAdd {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding : 10px;
    border-radius: 15px;
    background-color: #DF7D7D;
    color: white;
}
.teddy, .teddy-pic {
    width: 95%;
    height: 265px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
/* Footer */
footer {
    margin-top: 40px;
    background-color: rgb(245, 245, 245);
}
.colonnes {
    margin-left: 10%;
    display: flex;
    color: #6D6D6D;
}
.colonne1, .colonnes2 {
    margin-right: 135px;
}
a {
    text-decoration: none;
    color: #6D6D6D;
}
/* Styles p2 */
/* Article */
.section {
    margin-top: 30px;
}
.selected-product {
    width: 100%;
    height: 100%;
    /* background-color: #F2EAEA; */
    border-radius: 25px;
}
.scnd-teddy-container {
    width: 100%;
    height: 90%;
}
.scnd-teddy {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.scnd-teddy-info {
    display: flex;
}
.scnd-teddy-name {
    margin-left: 31%;
    margin-right: auto;
    width: fit-content;
}
.scnd-price {
    margin-right: 31%;
    margin-left: auto;
    width: fit-content;
    margin-top: 26px;
    margin-bottom: 20px;
}
.scnd-teddy-pic {
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
}
.description {
    font-family: 'Lora', serif;
    color: #595959;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
}
form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.list {
    margin-top: 20px;
}
.link {
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}