body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lora', serif;
}
.container {
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
}
.logo-link {
    margin-left: 4%;
    color: black;
    height: fit-content;
}
.logo {
    font-family: 'Lobster Two', serif;
    margin-top: 23px;
    margin-right: auto;
    font-size: 31px;
    margin-bottom: 0;
}

.shipping-free {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: auto;
    font-size: 14px;
    color: #444444;
}
.number {
    height: fit-content;
    background-color: #5D6D7E;
    padding: 0px 4px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 63%;
    left: 3%;
    font-size: 13px;
}
header {
    display: flex;
    justify-content: space-between;
}
.panier {
    margin-right: 5%;
    position: relative;
}
.fa-shopping-cart {
    margin-top: 31px;
    font-size: 30px;
    background: linear-gradient(#3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* titre */
.page-title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Lora', serif;
    color: #444444;
}
.teddy-name {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #444444;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 0;
}
/* Articles */
.teddy-pic {
    width: 30%;
    height: auto;
    border-radius: 25px;
}
.articles-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    width: 96%;
    margin: auto; 
}
.teddy-container {
    display: inline-grid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    background-color: #F1F0F0;
    border-radius: 25px;
}
.teddy-info {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.btnAdd {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding : 10px;
    border-radius: 15px;
    background-color: #6B67AD;
    color: white;
}
.btnShow {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding : 10px;
    border-radius: 15px;
    background-color: #6B67AD;
    color: white;
}
.teddy, .teddy-pic {
    width: 95%;
    height: 265px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
/* Footer */
footer {
    margin-top: 40px;
    background-color: rgb(245, 245, 245);
}
.colonnes {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.colonne1, .colonne2, .colonne3{
    margin-right: 135px;
}
ul {
    list-style: none;
    padding: 0;
}
li>a {
    text-decoration-line: underline;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #6D6D6D;
}
/* Styles p2 */
.section {
    margin-top: 30px;
}
.selected-product {
    width: 100%;
    height: 100%;
    /* background-color: #F2EAEA; */
    border-radius: 25px;
}
.scnd-teddy-container {
    width: 40%;
    margin: auto;
}
/* .scnd-teddy {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
} */
.scnd-teddy-info {
    display: flex;
}
/* .scnd-teddy-name {
    margin-left: 31%;
    margin-right: auto;
    width: fit-content;
} */
.scnd-price {
    margin-left: auto;
    margin-top: 26px;
}
.scnd-teddy-pic {
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
}
.description {
    font-family: 'Lora', serif;
    color: #595959;
    text-align: center;
}
#form_2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.list {
    margin-top: 20px;
}
.link {
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/* Styles p3 */

.p3-teddy-container {
    display: grid;
    grid-template-columns: 310px auto;
    grid-column-gap: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: fit-content;
}
.p3-teddy {
    width: 310px;
    height: 185px;
}
.p3-teddy-name {
    margin-top: 0;
}
.p3-teddy-pic {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.cart-header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.order {
    margin-top: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.input-group {
    margin-bottom: 10px;
}
.buy {
    width: 100%;
    border-top: 1px solid #BCBCBC;
    margin-top: 30px;
}
.empty {
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}
.label-margin {
    display: grid;
    row-gap: 5px;
    margin-bottom: 15px;
}
.submit {
    display: block;
    cursor: pointer;
    background-color: #8C5785;
    border: none;
    color: white;
    padding: 10px 108px;
    border-radius: 12px;
}
.validate {
    color: white;
}
#form_1 {
    display: grid;
    width: fit-content;
    margin: auto;
}
.total-price {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

/* Confirmation page */

.fa-check-circle {
    font-size: 115px;
    margin-top: 30px;
    color: #ED387C;
}
.icon-check {
    width: fit-content;
    margin: auto;
}
.confirmed {
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    width: 60%;
    margin: auto;
    margin-top: 23px;
    text-align: center;
}
.text-order-infos {
    margin: 16px;
    width: fit-content;
    padding-top: 20px;
    font-family: 'Baloo 2', cursive;
}
.order-number,.total-Price {
    font-family: 'Baloo 2', cursive;
    width: fit-content;
    padding-left: 30px;
}
.order-number {
    margin-top: 10px;
}
.order-infos {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #D9D8EF;
    border-radius: 13px;
    padding-bottom: 25px;
    padding-right: 20px;
}
.order-number,.total-Price {
    font-size: 23px;
}
.cart-empty {
    margin-top: 100px;
    font-size: 22px;
    text-align: center;
}
.product-page {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 100px;
}
.link-product-page {
    color: white;
    padding: 7px;
    background-color: #6A87EC;
    border-radius: 10px;
}
@media screen and (max-width: 772px) {
    .articles-container {
      display: block;
      width: 90%;
    }
    .teddy, .teddy-pic {
        height: 327px;
    }
}

@media screen and (max-width: 512px) {
    .teddy, .teddy-pic {
        height: 287px;
    }
    .shipping-free {
        display: none;
    }
    .number {
        top: 71%;
    }
}
@media screen and (max-width: 434px) {
    .teddy, .teddy-pic {
        height: 247px;
    }
    .page-title {
        flex-wrap: wrap;
        width: 70%;
        font-size: 20px;
    }
}
@media screen and (max-width: 406px) {
    .teddy, .teddy-pic {
        height: 210px;
    }
}

/* Product page */

@media screen and (max-width: 606px) {
    .scnd-teddy-container {
        width: 60%;
    }
}
@media screen and (max-width: 420px) {
    .scnd-teddy-container {
        width: 67%;
    }
}

/* Cart page */
@media screen and (max-width: 1113px) { 
    .choose-qty {
        width: 60px;
    }
}
@media screen and (max-width: 550px) { 
    .p3-teddy-container {
        display: block;
    }
    .p3-infos-container {
        text-align: center;
    }
}
@media screen and (max-width: 370px) {
    #form_1 {
        width: 90%;
    }
}

/* confirm page */
@media screen and (max-width: 530px) {
    .order-infos {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width : 942px) {
    .text-order-infos {
        margin-bottom: 0;
    }
}

@media screen and (max-width : 502px) {
    .empty {
        width: 60%;
        text-align: center;
    }    
}